<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceBusConnectionString" value="Endpoint=sb://wreb-qa.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=a2fKqcu2Am2YGIC87/CeDWnDjnpz8Pe3jZuz3inj9F8="/>
    <add key="QueueName" value="QueueName"/>
  </appSettings>
</configuration>